{% extends 'base.html.twig' %}

{% block content %}
    <h1>{{ ingredient.name }}</h1>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">
            {% include 'nutrition/info.html.twig' with {nutrition: ingredient.nutrition} %}
        </div>
    </div>
{% endblock %}