{% extends 'base.html.twig' %}

{% block content %}
    <h1>Weeks</h1>
    <ul>
    {% for week in weeks %}
        <li>
            {{ week.year }} - Week {{ week.weekNumber }}
            <ul>
            {% for day in week.days %}
                <li>
                    <a href="{{ path('day_index', {id: day.id}) }}">
                        {{ day.date|date('d.m.Y') }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
{% endblock %}